
<ion-view view-title="الخدمات التأمينيه" style="font-family:'Neo Sans Arabic'">
    <ion-content ng-controller="insurenceCtrl">


        <ion-spinner class="spinner-energized middl " ng-hide="images"></ion-spinner>
        <ion-spinner class="spinner-energized middl" ng-hide="!appeared"></ion-spinner>
        <div class="pin  gallary" ng-repeat="image in images">
            <img ng-src="{{image.url}}" ng-click="navigateTo('app.insurenece-details',image)" height="200px" />
            <div class="pin-footer moreinfo">
                <span class="pin-footer text-right morebtn" ng-click="navigateTo('app.insurenece-details',image)">
                    للمزيد   <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                <span class="text-left morebtn">{{image.Desc}}</span>
            </div>
            <div class="fa fa-trash size-mid middl " ng-click="remove(image._id)"></div>
        </div>


    </ion-content>
    <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.add-insurence')">
            <i class="icon ion-plus"></i>
        </a>
    </div>

</ion-view>
