<ion-view ng-controller="insurence-detailsCtrl" view-title="التفاصيل" style="font-family:'Neo Sans Arabic'">

    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear   nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <ion-content>
        <md-card>
            <span class="text-left morebtn text-center">{{img.Name}}</span>
            <img ng-src="{{img.url}}" class="full-image full" />
            <span class="text-left morebtn text-center">{{img.Desc}}</span>

        </md-card>


    </ion-content>




</ion-view>
