
<ion-view view-title="المستخدم المتحكم">
    <ion-nav-buttons side="left">
        <a ng-click="navigateTo('app.dashboard')" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>


           
            
                <md-input-container md-no-float="" class="search-box">
                    <i class="ion-android-search"></i>
                    <input ng-model="filterText" placeholder="ابحث من هنا ....">
                </md-input-container>
        <ion-spinner class="spinner-energized middl " ng-hide="admin"></ion-spinner>

        <ion-spinner class="spinner-energized middl" ng-hide="!appeared"></ion-spinner>


        <ion-list>

            <ion-item ng-repeat="admins in admin  | orderBy: 'email' | filter: { email: filterText }" class="item-remove-animate item-icon-right">
                <h2>{{admins.email}}</h2>
          
                <i class="icon ion-arrow-right-b"></i>
                <ion-option-button class="button-assertive ion-ios-trash-outline"
                                   ng-click="remove(admins._id)">delete</ion-option-button>

            </ion-item>

</ion-content>
    <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.add-admin')">
            <i class="icon ion-plus"></i>
        </a>
    </div>

</ion-view>
