
<ion-view style="font-family:'Neo Sans Arabic'" view-title="تسجيل الدخول">
    <ion-content id="social-login" class="bg-white" ng-controller="loginCtrl">
        <md-card>
            <form class="fakeLogin-form">
                <div>
                    <img ng-src="img/icons/Logo.jpg" />
                </div>
                <div class="sub-header">تسجيل الدخول</div>
                <div id="fakeLogin">
                    <md-input-container md-no-float="">
                        <input class="user-name" placeholder="اسم المستخدم"ng-model="username">
                    </md-input-container>
                    <hr />
                    <md-input-container md-no-float="">
                        <input class="user-password" type="password" placeholder="كلمه المرور">
                    </md-input-container>
                </div>
                <div>
                    <!--<a class="md-raised social-button md-button md-default-theme material-background" 
                       
                       
                       ng-click=" navigateTo('app.dashboard',username)">-->
                    <a class="md-raised social-button md-button md-default-theme material-background"
                       href="#/app/dashboard">
                        تسجيل الدخول
                    </a>
                </div>
            </form>
        </md-card>
        
    </ion-content>

</ion-view>
