<ion-view ng-controller="suggestionCtrl" style="font-family:'Neo Sans Arabic'" view-title="الشكاوي">
    <ion-content>
        <md-card>
            <div>
                <md-input-container md-no-float>
                    <textarea rows="5" ng-model="data.note" maxlength="200"
                              placeholder="ضع الشكوي او الاقتراح هنا  ......."></textarea>
                </md-input-container>
                <span>
                    {{(data.note.length > 0 ? data.note.length :0) | json}}/200
                </span>

            </div>
            {{response}}
        </md-card>
    </ion-content>
    <div class="footer-fab-bar">
        <button class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="save($event)">
            <i class="fa fa-check"></i>
        </button>
    </div>
</ion-view>