<ion-view style="font-family:'Neo Sans Arabic'">
    <ion-content ng-controller="insurenceCtrl">
        <ion-spinner class="spinner-energized spin " ng-hide="images"></ion-spinner>
        <div class="pin  gallary" ng-repeat="image in images">
            <img ng-src="{{image.url}}" ng-click="navigateTo('app.insurenece-details',image)" height="200px" />
            <div class="pin-footer moreinfo">
                <span class="pin-footer text-right morebtn" ng-click="navigateTo('app.insurenece-details',image)">
                    للمزيد   <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
                <span class="text-left morebtn">{{image.Desc}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
