
<ion-view view-title="تواصل معنا" style="font-family:'NeoSansArabic'">

    <ion-content ng-controller="connectCtrl" style="text-align:right">
        <md-toolbar class="md-tall md-primary toolbar-with-image">
            <div>
                <h1>تواصل معنا</h1>
                <h2>اهلا بكم في مركز عناية وجمال لطب الاسنان</h2>
            </div>
        </md-toolbar>
        <!--end toolbar section-->
        <!--button section-->
        <a class="md-button md-accent md-fab fab-toolbar-medium"
           aria-label="Add" style="background-color:forestgreen"  onclick="window.open('tel:0564756555', '_system', 'location=yes')">
            <i class="ion-android-call"></i>
        </a>
        <div class="row header">
            <div class="col">
                :تواصل مع فريق عملنا
            </div>
        </div> <!--end header section-->
        <!--content section-->
        <div class="row content">
            <div class="col-75">
                {{contractInfo.email}}
            </div>
            <div class="col-25">
                <i class="ion-android-mail sizemiddle " style="color:#ffd800" ng-click="sentEmail(contractInfo.email)"></i>
            </div>
        </div>
        <div class="row content">
            <div class="col-75">
                {{contractInfo.telephone2}}
            </div>
            <div class="col-25 ">
                <i class="ion-android-call sizemiddle" style="color:green" ng-click="sentSms(contractInfo.telephone2)"></i>
            </div>
        </div>

        <div class="row content">
            <div class="col-75">
                {{contractInfo.whatsapp}}
            </div>
            <div class="col-25">
                <i class="ion-social-whatsapp sizemiddle" style="color: green" ng-click="sentSms(contractInfo.whatsapp)"></i>
            </div>
        </div>



        <div class="row header">
            <div class="col">
                : مواعيد العمل
            </div>
        </div>
        <div class="row content">
            <div class="col-90">
                من الساعة التاسعة صباحاً حتى العاشرة مساءً

            </div>
        </div>
        <br />
        <br />
        <div class="row header">
            <div class="col">
                : العنوان
            </div>
        </div>
        <div class="row content">
            <div class="col-90">
                طريق الملك عبدالله، الهفوف‎ 36365

            </div>
        </div>
        <br />
        <br />


        <div class="row content">
            <div class="col-90" style="text-align:center">
                . من فضلك تواصل معنا اذا كنت تريد الاستفسار
            </div>
        </div>
    </ion-content>
</ion-view>
