
<ion-view view-title="العروض" style= "font-family:'NeoSansArabic'">
    <ion-content ng-controller="offersCtrl">


        <ion-slide-box id="slide-catalog-content" active-slide="0">

            <ion-slide ng-repeat="offer in offers">

                <div class="pin">
                    <img ng-src="{{offer.img}}" height="300px" />
                    <h1  style= "font-family:'NeoSansArabic'">{{offer.name}}</h1>
                    <p  style= "font-family:'NeoSansArabic'">
                        {{offer.desc}}
                    </p>
                    <div class="pin-footer">
                        <span class="pin-footer text-right font-sale"  style= "font-family:'NeoSansArabic'">{{offer.from}}</span>
                        <span class="pin-footer text-center  font-hot-sale  "  style= "font-family:'NeoSansArabic'">{{offer.to}}</span>
                    </div>
                </div>
            </ion-slide>


        </ion-slide-box>


    </ion-content>
</ion-view>
