<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
            <ion-nav-buttons side="secondary">
                <div class="profile">
                    <md-menu md-position-mode="target-right target" class="md-list-item-md-menu-right">

                        <img ng-src="img/icons/Logo.jpg" class="login-img" ng-click="$mdOpenMenu()" />


                        <md-menu-content width="3">
                            <md-menu-item>
                                <a class="md-button md-default-theme" ng-click=" navigateTo('blank.login')">
                                    <span class="menu-item-button"> تسجيل الخروج</span>
                                </a>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>


                </div>



            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="img/icons/Logo.jpg">
                <p>
                    <span class="title">مركز عناية وجمال لطب الاسنان</span>
                    <br />
                    <span class="sub-title">عناية متقدمة بصحة و جمال الفم والأسنان</span>
                </p>
            </div>
        </div>
        <ion-content id="toggle-menu-left-content">

            <div ng-if="isAndroid" class="menu-list">
                <div class="row menu-item" ng-click="navigateTo('app.dashboard')">
                    <div class="col-33">
                        <i class="fa fa-dashboard"></i>
                    </div>
                    <div class="col-66">
                        <span>احصائيات</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app.gallary')">
                    <div class="col-33">
                        <i class="fa fa-photo"></i>
                    </div>
                    <div class="col-66">
                        <span>المعرض</span>
                    </div>
                </div>

                <div class="row menu-item" ng-click="navigateTo('app.offers')">
                    <div class="col-33">
                        <i class="fa fa-tags"></i>
                    </div>
                    <div class="col-66">
                        <span>عروضنا</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app.ourteam')">
                    <div class="col-33">
                        <i class="fa fa-sign-in fa-users"></i>
                    </div>
                    <div class="col-66">
                        <span>فريقنا</span>
                    </div>
                </div>


                <div class="row menu-item" ng-click="navigateTo('app.book')">
                    <div class="col-33">
                        <i class="fa fa-thumb-tack"></i>
                    </div>
                    <div class="col-66">
                        <span>حجز موعد </span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app.suggestions')">
                    <div class="col-33">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <div class="col-66">
                        <span>الشكاوى والمقترحات</span>
                    </div>
                </div>

                <div class="row menu-item" ng-click="navigateTo('app.insurence')">
                    <div class="col-33">
                        <i class="fa fa-life-ring"></i>
                    </div>
                    <div class="col-66">
                        <span>الخدمات التأمينيه</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('app.reqs')">
                    <div class="col-33">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="col-66">
                        <span>اسأل طبيبك</span>
                    </div>
                </div>


                <div class="row menu-item" ng-click="navigateTo('app.admin')">
                    <div class="col-33">
                        <i class="fa fa-user-secret"></i>
                    </div>
                    <div class="col-66">
                        <span>اضافة مستخدم متحكم</span>
                    </div>
                </div>




            </div>
            <md-list ng-if="!isAndroid">
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.dashboard')">
                    <i class="fa fa-dashboard"></i>
                    <span>احصائيات</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.gallary')">
                    <i class="fa fa-photo"></i>
                    <span>المعرض</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.offers')">
                    <i class="fa fa-tags"></i>
                    <span>عروضنا</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.ourteam')">
                    <i class="fa fa-sign-in fa-users"></i>
                    <span>فريقنا</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.book')">
                    <i class="fa fa-thumb-tack"></i>
                    <span>حجز موعد </span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.suggestions')">
                    <i class="fa fa-paper-plane"></i>
                    <span>الشكاوى والمقترحات </span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.insurence')">
                    <i class="fa fa-life-ring"></i>
                    <span>الخدمات التأمينيه </span>
                    <!--تدعيم شركات التأمين-->
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.reqs')">
                    <i class="fa fa-user-md"></i>
                    <span>اسأل طبيبك</span>
                    <!--الاسئله والاجوبه -->
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.admin')">
                    <i class="fa fa-user-secret"></i>
                    <span>اضافة مستخدم متحكم</span>
                    <!--الاسئله والاجوبه -->
                </md-list-item>
        </ion-content>
    </md-sidenav>
</ion-side-menus>
