
<ion-view  style= "font-family:'NeoSansArabic'"view-title="فريقنا">
    <ion-content ng-controller="ourteamCtrl" scroll="false">
        <ion-slide-box id="slide-catalog-content" active-slide="0">
            <!--slide section-->

            <ion-slide ng-repeat="image in images" >
                <!--pin section-->
                <div style="margin-top:0px; margin-bottom:0px;">
                
                </div>
              
                    <div  style="" >
                        
                        <img ng-src="{{image.img}}" class="full-image"style="border-bottom:none; height:400px "/>
                      
                    </div>

                <h1  style= "font-family:'NeoSansArabic'">{{image.txt}}</h1>
                <p style="font-family:'NeoSansArabic';height:50px; ">
                    {{image.desc}}
                </p>
            </ion-slide>
        
            <!--end slide section-->
        </ion-slide-box>
    </ion-content>
</ion-view>
