<ion-view style="font-family:'Neo Sans Arabic'" ng-controller="bookingCtrl" view-title="حجز موعد">
    <ion-content id="default-input-content">
        <md-card>
            <md-input-container md-no-float class="withoutborder">
                <input ng-model="data.name" type="text" placeholder="الاسم" />
            </md-input-container>
            <md-input-container md-no-float class="withoutborder">
                <input ng-model="data.mobileNo" type="tel" placeholder="رقم الجوال" />
            </md-input-container>
            <ion-item class="item-input withoutborder">
                <label class="item-input withoutborder">
                    <span class="input-label placeholder">  ادخل التاريخ</span>
                    <input type="date" ng-model="data.date">
                </label>
            </ion-item>
            <md-input-container md-no-float>
                <textarea rows="5" ng-model="data.note" maxlength="200"
                          placeholder="من ماذا تشكو ......."></textarea>
            </md-input-container>
            <span>
                {{(data.note.length > 0 ? data.note.length :0) | json}}/200
            </span>
        </md-card>
    </ion-content>
    <div class="footer-fab-bar">
        <button class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="save($event)">
            <i class="fa fa-check"></i>
        </button>
    </div>
</ion-view>
