
<ion-view view-title="الأطباء">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <ion-content ng-controller="gallaryCtrl">

        <md-tabs md-dynamic-height>
            <md-tab >
                <label class="fa fa-picture-o size"></label>

                <md-content style="text-align:center">











                </md-content>
            </md-tab>
            <md-tab >
                <label class="fa fa-flickr size">
                    <span>filckr</span>
                </label>

                <md-content style="text-align:center">



                </md-content>
            </md-tab>

        </md-tabs>

    </ion-content>

</ion-view>
