
<ion-view view-title=" المعرض" ng-controller="gallaryCtrl">
    <ion-nav-buttons side="left">
        <a href="#/app/dashboard" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>

    </ion-nav-buttons>

    <ion-content>


        <md-tabs md-dynamic-height>
            <md-tab label="المعرض">

                <md-content style="text-align:center">
                    <md-card class="pin  gallary" ng-repeat="image in images">
                        <span ng-hide="image.id">{{image.id}}</span>
                        <span ng-hide="image.status">{{image.status}}</span>

                        <img src="{{image.url}}" />
                        <div class="fa fa-trash size-mid  mid"></div>

                    </md-card>

                </md-content>
            </md-tab>
            <md-tab label="filckr">
                <md-content style="text-align:center">
                    <md-card class="pin  gallary" ng-repeat="image in images">
                        <span ng-hide="image.id">{{image.id}}</span>
                        <span ng-hide="image.status">{{image.status}}</span>

                        <img src="{{image.url}}" />
                        <div class="fa fa-cloud-download size-mid  mid"></div>

                    </md-card>

                </md-content>
            </md-tab>

        </md-tabs>





        <!--<md-tabs>
            <md-tab>
                <label class="fa fa-picture-o size"></label>

                <md-content style="text-align:center">

                    <md-card>
                        <img src="https://farm1.staticflickr.com/640/31872939632_0cf0080b3d.jpg" />
                        <span>hi iam sameh </span>
                    </md-card>

                </md-content>
            </md-tab>
            <md-tab>
                <label class="fa fa-flickr size">
                    <span>filckr</span>
                </label>

                <md-content style="text-align:center">



                </md-content>
            </md-tab>

        </md-tabs>-->

    </ion-content>

</ion-view>
