<ion-view view-title="الرئيسيه"  style= "font-family:'NeoSansArabic'">
    <ion-content ng-controller="dashboardCtrl" scroll="false">

        <ion-slide-box id="user-interface-content" active-slide="0">

            <ion-slide ng-repeat="image in images">
                <img ng-src="{{image.img}}" class="full-image" />
            </ion-slide>

        </ion-slide-box>
        <div style="margin-right:17px">
        <button class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.book')">
    <i class="fa fa-calendar"></i>
</button>

            <button class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.askdoc')">
                <i class="fa fa-question"></i>
            </button>
            <button class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.map')">
                <i class="fa fa-map-marker"></i>
            </button>
            <button class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.connectus')">
                <i class="fa fa-phone"></i>
            </button>
           
</div>
        
     
    </ion-content>

</ion-view>
