
<ion-view style="font-family:'Neo Sans Arabic'" view-title="صفحتنا على الفيس بوك">
    <ion-content id="news-feed-content" ng-controller="facebookCtrl">

        <ion-spinner class="spinner-energized spin " ng-hide="data"></ion-spinner>

        <div class="list card" ng-repeat="entry in data.data">
            {{entry.from.name}}
            <div class="item item-body">
                <img class="full-image" ng-src="{{entry.picture}}">
                <p>
                    {{entry.message}}
                </p>
                <p>
                    <a class="subdued"> {{entry.likes.summary.total_count}}Likes</a>
                    <a class="subdued">{{entry.comments.summary.total_count}} Comments</a>
                </p>
            </div>

        </div>



    </ion-content>
</ion-view>
