
<ion-view style="font-family:'Neo Sans Arabic'" view-title="تسجيل الدخول">
    <ion-content ng-controller="loginCtrl">

        <div class="row">
            <div class="text-center social-login-block " >
                <a class="md-raised social-button md-button md-default-theme twitter-background socialbtn">
                    <i class="fa fa-twitter"></i>    سجل من خلال  تويتر
                </a>
                <a class="md-raised social-button md-button md-default-theme google-plus-color-background socialbtn">
                    <i class="fa fa-google-plus"></i>    سجل  من خلال   جوجل
                </a>
                <a class="md-raised social-button md-button md-default-theme facebook-background socialbtn">
                    <i class="fa fa-facebook-f"></i>    سجل  من خلال  الفيسبوك
                </a>
            </div>
        </div>








    </ion-content>
</ion-view>
