<ion-view ng-controller="loginCtrl" view-title="تسجيل الدخول" style="font-family:'NeoSansArabic'">
    <ion-content>
        <md-card class="full above-space">
            <a class="md-raised social-button md-button md-default-theme facebook-background middle" ng-click=" login()">
                <i class="fa fa-facebook"> </i>   سجل دخول  عبر فيسبوك
            </a>
            <!--<a class="md-raised social-button md-button md-default-theme  twitter-background middle" href="#/app/dashboard">
                <i class="fa fa-twitter"> </i>   سجل دخول  عبر تويتر
            </a>-->
            <a class="md-raised social-button md-button md-default-theme google-plus-color-background middle" ng-click="logingoogleplus()">
                <i class="fa fa-google-plus"> </i>   سجل دخول  عبر جوجل
            </a>
        </md-card>
    </ion-content>
</ion-view>
