
<ion-view style="font-family:'Neo Sans Arabic'" view-title=" اسئله  تم  الاجابه عنها">
    <ion-nav-buttons side="left">
        <a ng-click="navigateTo('app.dashboard')" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>

    </ion-nav-buttons>

    <ion-content ng-controller="quesCtrl">
      
            <!--<md-select ng-model="mdSelectValue" aria-label="md-option" placeholder="اختر القسم من هنا ">
                <!--<md-option value="الليزر">الليزر</md-option>
                <md-option value="الجلديه">الجلديه</md-option>-->
                <!--<md-option value="الاسنان">الاسنان</md-option>-->
       
            <!--</md-select>-->
    
       
        <ion-list class="list" ng-repeat=" suggestion in suggestions">
            <li class="item item-avatar-right item-text-wrap no-padding">
                <img ng-src="{{suggestion.creator.picUrl}}" class="img-ques" />
                <div class="bubbleRight"
                     style="width:100%">
                    <h2 class="text-right"><b style="color:white" />{{suggestion.creator.Name}}</h2>
                    <p class="text-right"> {{suggestion.note}} </p>
                </div>
            </li>

        </ion-list>
    </ion-content> 

</ion-view>
