
<ion-view ng-controller="aboutusCtrl" style="font-family:'NeoSansArabic'" view-title="عن المركز">
    <ion-content>

        <ion-slide>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{about.aboutcenter}}" ng-repeat="about in aboutus">
                    <md-content style="text-align:center">
                        {{about.desc}}
                    </md-content>
                </md-tab>



            </md-tabs>
        </ion-slide>


    </ion-content>
</ion-view>
