
<ion-view  style= "font-family:'NeoSansArabic'"  view-title="إنستجرام">
    <ion-content ng-controller="instagramCtrl">
     
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <!--social card section-->
            <md-card ng-repeat="p in pics" class="social-card">
                <md-card-content>
                    <md-list-item class="md-2-line md-no-proxy" role="listitem">
                        <img ng-src="{{p.user.profile_picture}}"
                             class="md-avatar">
                        <div class="md-list-item-text">
                           
                            <h3  style= "font-family:'NeoSansArabic'">{{p.user.full_name}}</h3>
                            <p  style= "font-family:'NeoSansArabic'">{{p.user.username}}</p>
                            <p ng-show="p.location.name != null ?  true : false"  style= "font-family:'NeoSansArabic'">
                                <i class="fa fa-location-arrow"></i>
                                {{p.location.name}}
                            </p>
                          
                        </div>
                        <div class="social-card-image">
                      
                        </div><!--end social card image section-->
                      
                    </md-list-item>
                    <p  style= "font-family:'NeoSansArabic'">{{p.caption.text}}</p>
                </md-card-content>
                <img ng-src="{{p.images.standard_resolution.url}}">
                <!--social card image section-->
                <!--social card footer section-->
                <div class="social-card-footer">
                    <div class="row-content" layout="row">
                        <div class="col-50">
                            {{p.likes.count}} <span> Likes</span>
                        </div>
                        <div class="col-50">
                            {{p.comments.count}} <span>Comments</span>
                        </div>
                    </div>
                </div><!--end social card footer section-->
            </md-card><!--end social card section-->
            <!--<ion-infinite-scroll ng-if="!paging.shouldLoadData" on-infinite="loadMore()" distance="1%">
            </ion-infinite-scroll>-->



</ion-content>

</ion-view>
