
<ion-view view-title="العروض" ng-controller="add-offersCtrl">
    <ion-nav-buttons side="left">
        <a ng-click="navigateTo()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>

    </ion-nav-buttons>

    <div id="add-doc" active-slide="0">

        <div class="middle">
            <ion-content id="default-input-content">



                    <md-tabs md-dynamic-height>

                        <md-tab label=" اضافه العروض">
                            <div class="inside">

                                <md-content style="text-align:center">
                                    <div class="inside">
                                        <md-input-container class="icon-title" md-no-float>
                                            <i class="fa fa-bell"></i>
                                            <input name="name" placeholder="ادخل اسم العرض" ng-model="data.Name">
                                        </md-input-container>
                                        <md-input-container class="icon-title" md-no-float>
                                            <i class="fa fa-align-center"></i>
                                            <input name="desc" placeholder="ادخل تفاصيل العرض" ng-model="data.Details">
                                        </md-input-container>
                                        <md-input-container class="icon-title" md-no-float>
                                            <i class="fa fa-money"></i>
                                            <input name="name" placeholder="ادخل السعر قبل العرض" ng-model="data.PriceBefore">
                                        </md-input-container>
                                        <md-input-container class="icon-title" md-no-float>
                                            <i class="fa fa-gift"></i>
                                            <input name="desc" placeholder="ادخل السعر بعد العرض" ng-model="data.PriceAfter">
                                        </md-input-container>
                                
                                        
                                    </div>
                                </md-content>
                                </div>
</md-tab>
                        <md-tab label="filckr اختر صوره من ">
                            <md-content style="text-align:center">
                                <md-content style="text-align:center">
                                    <div>
                                        <ion-spinner class="spinner-energized mid" ng-hide="images"></ion-spinner>
                                        <!--ng-hide="checked"-->
                                        <md-card class="pin  gallary" ng-repeat="image in images" class="check-element animate-show-hide">
                                            <img src="https://farm{{image.farm}}.staticflickr.com/{{image.server}}/{{image.id}}_{{image.secret}}.jpg" />
                                            <md-checkbox ng-click="toggle(image,selected)" class="mid" ng-model="checked" aria-label="  " ng-disabled="{{disable}}">
                                                <span ng-if="exists(image, selected)">تم الاختيار</span>
                                            </md-checkbox>
                                        </md-card>
                                    </div>
                                </md-content>
                        </md-tab>
                    </md-tabs>
            </ion-content>
            <div class="footer-fab-bar">
                <a class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="save()">
                    <i class="fa fa-check"></i>
                </a>
            </div>

        </div>
     </div>

</ion-view>
