
<ion-view view-title="العروض" ng-controller="add-offersCtrl">
    <ion-nav-buttons side="left">
        <a ng-click="navigateTo('app.offers')" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>

    </ion-nav-buttons>

    <div id="add-doc" active-slide="0">

        <div class="middle">
            <ion-content id="default-input-content">



                    <md-tabs md-dynamic-height>

                        <md-tab label=" اضافه العروض">
                            <div class="inside">

                                <md-content style="text-align:center">
                                    <div class="inside">
                                        <md-input-container class="icon-title" md-no-float>
                                            <i class="fa fa-bell"></i>
                                            <input name="name" placeholder="ادخل اسم العرض">
                                        </md-input-container>
                                        <md-input-container class="icon-title" md-no-float>
                                            <i class="fa fa-align-center"></i>
                                            <input name="desc" placeholder="ادخل تفاصيل العرض">
                                        </md-input-container>
                                        <md-input-container class="icon-title" md-no-float>
                                            <i class="fa fa-money"></i>
                                            <input name="name" placeholder="ادخل السعر قبل العرض">
                                        </md-input-container>
                                        <md-input-container class="icon-title" md-no-float>
                                            <i class="fa fa-gift"></i>
                                            <input name="desc" placeholder="ادخل السعر بعد العرض">
                                        </md-input-container>

                                        
                                    </div>
                                </md-content>
                                </div>
</md-tab>
                        <md-tab label="filckr اختر صوره من ">
                            <md-content style="text-align:center">
                                <md-card class="pin  gallary" ng-repeat="image in images">
                                    <span ng-hide="image.id">{{image.id}}</span>
                                    <span ng-hide="image.status">{{image.status}}</span>

                                    <img src="{{image.url}}" />
                                    <div class="fa fa-cloud-download size-mid  mid"></div>

                                </md-card>

                            </md-content>
                        </md-tab>

                    </md-tabs>






            </ion-content>



            <div class="footer-fab-bar">
                <a class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.question')">
                    <i class="fa fa-check"></i>
                </a>
            </div>

        </div>
     </div>

</ion-view>
