
<ion-view view-title="العروض" style="font-family:'Neo Sans Arabic'">


    <ion-nav-buttons side="left">
        <a ng-click="navigateTo('app.dashboard')" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>

    </ion-nav-buttons>

    <ion-content ng-controller="offersCtrl">


        <ion-slide-box id="slide-catalog-content" active-slide="0">

            <ion-slide ng-repeat="offer in offers">

                <div class="pin">
                    <img ng-src="{{offer.img}}" height="300px" />
                    <h1>{{offer.name}}</h1>
                    <p>
                        {{offer.desc}}
                    </p>
                    <div class="pin-footer">
                        <span class="pin-footer text-right font-sale">{{offer.from}}</span>
                        <span class="pin-footer text-center  font-hot-sale ">{{offer.to}}</span>
                    </div>
                    <div class="fa fa-trash size-mid  mid"></div>

                </div>
            </ion-slide>


        </ion-slide-box>


    </ion-content>
    <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.add-offers')">
            <i class="icon ion-plus"></i>
        </a>
    </div>
</ion-view>
