
<ion-view view-title="العروض" style="font-family:'Neo Sans Arabic'">


    <ion-nav-buttons side="left">
        <a ng-click="navigateTo('app.dashboard')" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>

    </ion-nav-buttons>

    <ion-content ng-controller="offersCtrl">

        <ion-spinner class="spinner-energized middl " ng-hide="offers"></ion-spinner>
        <ion-spinner class="spinner-energized middl" ng-hide="!appeared"></ion-spinner>


        <ion-slide-box id="slide-catalog-content" ng-hide="!offers">

            <ion-slide ng-repeat="offer in offers" repeat-done="repeatDone()" >
                <div class="pin">
                    <img ng-src="{{offer.url}}" height="350px" />
                    <h1>{{offer.Name}}</h1>
                    <p>
                        {{offer.Details}}
                    </p>
                    <div class="pin-footer">
                        <span class="pin-footer text-right font-sale">{{offer.PriceBefore}}</span>
                        <span class="pin-footer text-center  font-hot-sale ">{{offer.PriceAfter}}</span>
                    </div>
                    <div class="fa fa-trash size-mid " ng-click="remove(offer._id)"></div>


                </div>



            </ion-slide>
        </ion-slide-box>


    </ion-content>
    <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer color" aria-label="Add" ng-click="navigateTo('app.add-offers')">
            <i class="icon ion-plus"></i>
        </a>
    </div>
</ion-view>
